body{
        background-color: rgba(253, 88, 5, 0.75);

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;}

.title{
    text-align: center;
    margin: 20px;
    font-size: 32px;
    color: bisque;}
    #gallery .img-gallery{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #gallery .img-gallery img{
        margin:20px;
        width: 280px;
        height: 200;
        opacity: 0.8;
        border-radius: 15px;
        transition: all 0.3s ease;
    }

     .gallery-container img:hover{
        transform: scale(1.05);
        opacity: 1;
     }
        a.gallery{
            text-decoration: none;
            color: rgba(253, 88, 5, 0.75);

        }
        a.gallery:hover{
            color: brown;
        }
    
    section#gallery{
        background-color: #0c0c0c;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        margin-top: 30px;
    }
    
    