body{font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 20px;
text-align: center;}

.title{
    text-align: center;
    margin: 20px;
    font-size: 32px;
    color: bisque;}
    #gallery .img-gallery{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #gallery .img-gallery img{
        margin:20px;
        width: 280px;
        height: 200;
        opacity: 0.8;
        border-radius: 15px;
        transition: all 0.3s ease;
    }

     .gallery-container img:hover{
        transform: scale(1.05);
        opacity: 1;
     }